<div  class="container-fluid">  
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">  
      <ul class="navbar-nav">  
        <li class="nav-item ">  
          <a routerLink="/login" class="nav-link" class="btn btn-primary active" role="button" >login</a>  
        </li>   
        <li class="nav-item">  
          <a  routerLink="/dashboard" class="nav-link" class="btn btn-primary active" role="button" >dashboard</a>  
        </li>            
      </ul>  
  </nav>     
      <router-outlet></router-outlet>  
  </div>  